<template>
  <transition name="fade" appear>
  <div class="positioning">
    <div class="col-xl-4 col-lg-5 col-md-8 col-sm-8 container">
      <p class="text-center">My Business Profile</p>
      <div class="form-group text-center col-xl col-sm-4 col-md col-lg">
        <label class="text-center mt-3 mb-3">What inputs do you supply?</label>
        <v-select class="a" v-model="inputSupplyCategorySelected" :options="inputSupplyCategory"></v-select>
        <label class="text-center mt-3 mb-3">Specializing in ...</label>
        <v-select multiple name="inputs" id="" v-model="selectedInputSupply" :options="optionValues" :resetOnOptionsChange="true" placeholder="Select input(s) you specialise in"></v-select>
        <label class="text-center mt-3 mb-3">What category of cows does your input target?</label>
        <v-select v-model="cowCategorySelected" :options="cowsCategory"></v-select>
        <div>
          <button
          @click="submitForm"
          class="col-xl col-sm-4 col-md col-lg mt-3"
          :disabled="isDisabled"
          >Next, Signup &#x2192;</button>
        </div>
        <div class="mt-3 text-center">
          <router-link to="/"> &#x2190; Back Home</router-link>
        </div>
      </div>
    </div>
  </div>
  </transition>
</template>

<script>
import vSelect from 'vue-select'
import { openModal } from '@/utils/helperFunctions'
export default {
  name: 'InputSuppliersOnboarding',
  components: {'v-select': vSelect},
  data () {
    return {
      optionValues: [
        'Dairy Meal',
        'Vitamin/Mineral Supplements',
        'Feed additives & Premix',
        'Other'
      ],
      inputSupplyCategory: ['Dairy meal, minerals & supplements', 'Fodder solutions', 'Farm Machinery & Equipment', 'Drugs and Vet Products', 'Irrigation solutions'],
      inputSupplyCategorySelected: 'Dairy meal, minerals & supplements',
      selectedInputSupply: [],
      cowsCategory: ['Calves', 'Heifers', 'Dry Cows', 'Lactating Cows'],
      cowCategorySelected: 'Calves',
      categoryOptions: {
        dairy: ['Dairy Meal',
          'Vitamin/Mineral Supplements',
          'Feed additives & Premix',
          'Other'
        ],
        fodder: [
          'Fodder seeds',
          'Fertilizer & Manure',
          'Hay / Silage',
          'Silage bags',
          'Silage inoculants/Preservatives'
        ],
        equipment: [
          'Tractors and Accessories',
          'Milking equipment & Machines',
          'Tankers, Chillers and Pasteurizers',
          'Plastic containers',
          'Packaging materials',
          'Others'
        ],
        drugs: [
          'Dewormers',
          'Vaccines',
          'Others'
        ],
        irrigation: [
          'Irrigation equipment',
          'Pipes and Fitting',
          'Others'
        ]
      }
    }
  },
  computed: {
    isDisabled () {
      return this.selectedInputSupply.length === 0
    }
  },
  watch: {
    inputSupplyCategorySelected: function (newData, oldData) {
      if (newData === 'Dairy meal, minerals & supplements') {
        this.optionValues = [...this.categoryOptions.dairy]
      } else if (newData === 'Fodder solutions') {
        this.optionValues = [...this.categoryOptions.fodder]
      } else if (newData === 'Farm Machinery & Equipment') {
        this.optionValues = [...this.categoryOptions.equipment]
      } else if (newData === 'Drugs and Vet Products') {
        this.optionValues = [...this.categoryOptions.drugs]
      } else if (newData === 'Irrigation solutions') {
        this.optionValues = [...this.categoryOptions.irrigation]
      }
    }
  },
  methods: {
    submitForm () {
      const inputSupplierInfo = {
        inputs_offered: this.selectedInputSupply,
        services_offered: this.inputSupplyCategorySelected,
        target_animals: this.cowCategorySelected
      }
      window.localStorage.setItem('InputSupplierInfo', JSON.stringify(inputSupplierInfo))
      openModal('signup')
    }
  }
}

</script>
<style lang="scss" scoped>
/deep/ .v-select .dropdown-toggle .clear{
  display: none;
}

/deep/ .v-select .vs__actions {
  color: #580011;
}

/deep/ .v-select .dropdown-toggle {
  border: 1px solid black;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/deep/ .v-select .selected-tag{
  color: #580011;
}

/deep/ .v-select .selected-tag .close{
  padding-left: 3px;
  padding-right: 2px;
  margin-top: 2px;
}

.container {
  width: 100%;
  margin-top: 3%;
  color: #580011;
}

input, select {
  border: 1px solid black;
  color: #580011;
}

label{
  display: block;
  font-size: 22px;
}

.instruction{
  color: gray
}

button {
  background-color:#A3C34E;
  color: white;
  outline: none;
  border: none;
  padding:0.4rem 0;
  border-radius: 0.3rem;
}

button:disabled {
  background-color: #e1e1e1;
  cursor: not-allowed;
}

a {
  color: #A3C34E !important;
}

a:hover {
  color: #A3C34E !important;
}

.positioning {
   position: absolute;
   width: 100%;
   overflow: hidden;
   padding: 2% 20px;
   margin-top: 80px;
 }

/** Transition ** */
.fade-enter {
  opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: all 1.4s ease-in;
}
.fade-leave-to {
  opacity: 0;
}

</style>
