<template>
  <div class>
    <UpdateCard
      v-for="(update, index) in dataList"
      :key="index"
      :blog="update"
      id="sp-blog-content"
    />
  </div>
</template>

<script>
import UpdateCard from '@/components/ui/UpdateCard'

export default {
  props: {
    dataList: { type: Array, required: true }
  },
  name: 'UpdatesList',
  components: {
    UpdateCard
  }
}
</script>

<style scoped>
</style>
