<template>
  <div>
    <img src="@/assets/money-bag.png" alt="" srcset="">
    <h2>Your revenue projections</h2>
    <p class="info-message">Note: You will earn extra revenue from sale of cows in Year 4 and Year 5</p>
    <ul class="projection-result">
      <li v-for="(amount, index) in projection" :key="index">
        <p class="label">YEAR {{index + 1}}</p>
        <p class="amount">{{amount}}M</p>
        <p class="label">(KES)</p>
      </li>
    </ul>
    <p class="info-message">This is quite achievable! We can give you tips and advice on how to reach your goal</p>
    <AppButton v-if="isLoggedIn">Help me achieve this &#x2192;</AppButton>
    <AppButton v-else @click="showSignupModal">Sign up to find out how &#x2192;</AppButton>
    <div>
      <a href="#" @click.prevent="$emit('changeStage')">&#x2190; Back</a>
    </div>
  </div>
</template>

<script>
import AppButton from '@/components/ui/AppButton'
import isLoggedInMixin from '@/mixins/isLoggedInMixin'
import showSignupModalMixin from '@/mixins/showSignupModalMixin'

const projectionCalculator = (details) => {
  let {
    numberOfCows,
    milkQuantity,
    milkPrice
  } = details

  let numberOfCalves = Math.trunc(numberOfCows * 0.7)
  let numberOfHeifers = 0

  const projectionResult = []

  for (let year = 1; year <= 5; year++) {
    projectionResult.push(projectionCalculatorHelper({ numberOfCows, milkPrice, milkQuantity }))
    numberOfCows += numberOfHeifers
    numberOfHeifers = numberOfCalves
    numberOfCalves = Math.trunc(numberOfCows * 0.7)
  }

  return projectionResult
}

const projectionCalculatorHelper = ({ numberOfCows, milkQuantity, milkPrice }) => (
  Number(Math.round(numberOfCows * milkQuantity * milkPrice * 300 / 1000000 + 'e1') + 'e-1')
)

export default {
  name: 'RevenueProjection',

  mixins: [isLoggedInMixin, showSignupModalMixin],

  data () {
    const params = {
      numberOfCows: this.numberOfCows,
      milkQuantity: this.milkQuantity,
      milkPrice: this.milkPrice
    }

    return {
      projection: projectionCalculator(params)
    }
  },

  props: {
    numberOfCows: {
      type: Number,
      required: true
    },

    milkQuantity: {
      type: Number,
      required: true
    },

    milkPrice: {
      type: Number,
      required: true
    }
  },

  components: {
    AppButton
  }
}
</script>

<style scoped>
  * {
    color:#580010;
    box-sizing: border-box;
  }

  .info-message {
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
    min-width: 13rem;
    max-width: 25rem;
    width: 70%;
    margin: 0 auto 1rem;
  }

  a {
    display: inline-block;
    color: #88af00;
    font-size: 0.87rem;
    margin-top: 1rem;
  }

  a:hover {
    color: #88af00;
  }

  .label {
    font-size: 0.7rem;
    margin: 0;
  }

  .projection-result {
    display: flex;
    justify-content: center;
    margin: 0.93rem 0;
    padding: 0;
    flex-wrap: wrap;
  }

  .projection-result li {
    display: inline-block;
    flex-basis: 6.88rem;
    border-right: 0.03rem solid #eee;
    margin-bottom: 1.25rem;
    padding: 0 0.63rem;
  }

  .projection-result li:last-child {
    border: none;
  }

  img {
    width: 5rem;
    margin-bottom: 1.25rem;
  }

  .amount {
    font-family: 'Comfortaa-regular';
    font-size: 2.5rem;
    color: #88af00;
    margin: 0;
  }

  @media only screen
  and (max-width: 733px) {

    .projection-result li:not(:last-child) {
      border-right: 0.03rem solid #eee;
    }

    .projection-result li:nth-child(4) {
      border: none;
    }
  }

  @media only screen
  and (max-width: 575px) {

    .projection-result li:not(:last-child) {
      border-right: 0.03rem solid #eee;
    }

    .projection-result li:nth-child(3) {
      border: none;
    }
  }

  @media only screen
  and (max-width: 400px) {
    h2 {
      font-size: 1.7rem;
    }

    .label {
      font-size: 0.66rem;
      margin: 0;
    }

    .amount {
      font-size: 2.25rem;
    }
  }

    @media only screen
  and (max-width: 370px) {
    .projection-result li:not(:last-child) {
      border-right: 0.03rem solid #eee;
    }

    .projection-result li:nth-child(even) {
      border: none;
    }
  }

</style>
