<template>
  <div class="earn-progress col-md-12">
      <h6 class="mb-4 text-center">{{title}}</h6>
      <h2 class="text-center">{{`${progressPercentage}`}}</h2>
    <div class="progress progress-main-color" style="height: 6px;">
      <div
        class="progress-bar progress-percentage"
        role="progressbar"
        style="width: 35%"
        :aria-valuenow="info"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
    <p class="small mt-3 text-center">{{info}}</p>
  </div>
</template>

<script>
export default {
  name: 'EarningProgressBar',
  props: {
    title: {
      required: true,
      type: String
    },
    progressPercentage: {
      required: true,
      type: String
    },
    info: {
      type: String
    }
  }
}
</script>

<style scoped>
.earn-progress {
  margin: 0 auto;
  margin-top: 30px;
}
.progress-percentage{
    background-color:#d39cd4;
}
.progress-main-color{
    background-color: #4b004a;
    width: 200px;
    margin: 0 auto;
}
@media only screen and (max-width: 500px) {
  .progress-main-color {
      width: 100px;
      margin: 0 auto;
  }
}
</style>
