<template>
<div >
  <ProfileSideBarLayout>
    <div>
      <UserProfileTimeline/>
    </div>
  </ProfileSideBarLayout>
</div>
</template>
<script>
import UserProfileTimeline from './UserProfileTimeline.vue'
import UserProfile from './UserProfile.vue'
import UserReport from './UserReport.vue'
import UserProfileSwitcher from './Switcher.vue'
import ProfileSideBar from '@/components/ui/ProfileSideBar'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout'
export default {
  name: 'UserProfileIndex',
  components: {
    UserProfileTimeline,
    UserProfile,
    UserReport,
    UserProfileSwitcher,
    ProfileSideBar,
    ProfileSideBarLayout
  },
  data () {
    return {
      activeStatusLink: 'isMyActivitiesLinkActive'
    }
  },
  metaInfo () {
    return {
      title: `Dairynomics - My Profile`,
      meta: [
        { name: 'description', content: 'Dairynomics - My Profile' },
        { property: 'og:title', content: 'Dairynomics - My Profile' },
        { property: 'og:type', content: 'website' },
        { property: 'og:url', content: `https://www.cowsoko.com/user-profile` },
        { property: 'og:description', content: 'Dairynomics - My Profile' }
      ]
    }
  },
  methods: {
    changeProfileSection (activeLinkStatus) {
      this.activeStatusLink = activeLinkStatus
    }
  }
}
</script>
<style scoped>
</style>
