<template>
  <div class="main-profile">
    <div class="profile-picture">
      <img :src="profile_pic"/>
    </div>
    <div class="main-user-info text-center">
      <h4>{{userNames}}</h4>
      <h6 class="user-type">{{userType}}</h6>
      <p class="county">{{county}}</p>
    </div>
  </div>
</template>
<script>
export default {
  name: 'UserProfileInfo',
  props: ['userNames', 'county', 'userType', 'profile_pic']
}
</script>
<style scoped>
.main-profile {
  margin-top: 50px;
}
.profile-picture {
  width: 170px;
  height: 170px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.profile-picture img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}
.main-user-info p {
  font-size: 10px;
}
.main-user-info button {
  color: #91b32e;
  background-color: #ffffff;
  width: 8rem;
  height: 2rem;
  border: 1px solid #a3c34e;
  border-radius: 50px;
  border: 1px solid #91b32e;
}
.main-user-info button:focus {
  outline: 0;
}
.county {
  text-transform: uppercase;
}
.user-type {
  text-transform: capitalize;
}
.edit-profile {
  text-align: center;
  margin-top: 20px;
}
@media only screen and (max-width: 800px) {
  .main-profile {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
  }
  .profile-picture {
    width: 110px;
    height: 110px;
    margin: 0;
  }
  .profile-picture img {
    width: 110px;
    height: 110px;
  }
  .main-user-info {
    margin-left: 2rem;
    text-align: left !important;
  }
  .main-user-info h4 {
    font-size: 18px;
    padding-right: 10px;
  }
  .main-user-info h6 {
    font-size: 12px;
  }
}
</style>
