<template>
  <div class="image-wrapper">
    <i v-if="!this.hasImage" v-bind:class="classes"></i>
    <img v-else v-bind:class="this.getImageClass" v-bind:src="imageURL" alt="...">
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'UserImage',
  props: {
    doReverse: {
      type: Boolean,
      default: false
    },
    size: {
      type: String,
      default: 'big'
    },
    imageURL: {
      type: String,
      default: null
    }
  },
  computed: {
    getImageClass () {
      return this.size === 'big' ? 'image big' : 'image'
    },
    hasImage () {
      return this.imageURL !== null
    },
    classes () {
      let icon = this.doReverse ? 'fas' : 'far'
      icon += ' fa-user icon'
      return this.size + ' ' + icon
    },
    ...mapGetters(['chatMate'])
  }
}
</script>
<style scoped>
* {
  margin: 0;
  padding: 0;
}
.image {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.image-wrapper {
  background-color: #90b42e;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.big {
  font-size: 3rem;
  height: 5rem;
  width: 5rem;
}
.small {
  height: 3.2rem;
  width: 3.2rem;
  font-size: 2.2rem;
}
.mini {
  height: 2.2rem;
  width: 2.2rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 660px) {
  .big {
    font-size: 2rem;
    height: 4.5rem;
    width: 4.5rem;
  }
  .small {
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
  }
  .mini {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 360px) {
  .big {
    font-size: 1.8rem;
    height: 3rem;
    width: 3rem;
  }
  .small {
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
  }
  .mini {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
  }
}
</style>
