<template>
  <div class="col-12 pb-4">
    <div class="card receipt-content">
      <a
        @click="handleOpenModalOnClick('receipt', receipt.id)"
      >
        <div class="row">
          <div class="pt-4 col-lg-3 col-sm-12 text-dark">
            <div class="d-flex flex-column align-self-center">
              <div class="h4 text-center">{{receipt.invoiceNumber}}</div>
              <div class="text-muted text-center"><small>{{getDate(receipt.createdAt)}}</small></div>
            </div>
          </div>
          <div class="description align-self-center pt-2 pr-4 col-lg-6 col-sm-12 text-secondary pb-2">
            <div class="desc-paragraph order-items " v-for="(orderItem, index) in orderItems" :key="index">
              <h5 class="">{{orderItem.product.productName}}</h5>
            </div>
          </div>
          <div class="align-self-center pl-2 col-lg-3 col-sm-12 text-dark text-center h4">
            {{getAmount(receipt.amountToBePaid)}}
          </div>
        </div>
      </a>
    </div>
  </div>
</template>

<script>
import { openModal } from '@/utils/helperFunctions'
import { amountAndDateFormatterMixin } from '@/mixins/amountAndDateFormatterMixin'
export default {
  name: 'ReceiptCard',
  mixins: [amountAndDateFormatterMixin],
  props: ['receipt'],
  computed: {
    orderItems () {
      return this.receipt.order.orderItems
    }
  },
  methods: {
    handleOpenModalOnClick (payload, receiptId) {
      if (payload === 'receipt') {
        return openModal(payload, receiptId)
      }
    },
    getDescription (comments) {
      return `${comments}`
    }
  }
}
</script>

<style lang="scss" scoped>
.card a {
  text-decoration: none;
}
.card a:hover {
  background-color: rgba(194, 240, 68, 0.4);
  cursor: pointer;
}
.receipt-content {
  background-color: #fff;
  border: 1px solid #f4f7ea;
  box-shadow: -1px 2px 10px 1px rgba(194, 240, 68, 0.4);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.desc-paragraph {
  padding-top: 10px;
}

.order-items:not(:last-child) {
  border-bottom: 0.1em solid #6e7064;
}
@media only screen and (min-width: 401px) {
  .desc-paragraph {
    margin-left: 1em;
  }
}
@media only screen and (max-width: 400px) {
  .description {
    text-align: justify;
    padding-bottom: 1em;
    margin: 0 1em;
  }
}
</style>
