<template>
     <datepicker
      :bootstrap-styling="true"
      input-class="bg-white border-dark col-sm-12 date-picker-text"
      id="from"
      v-model="model"
     ></datepicker>
</template>

<script>
import datepicker from 'vuejs-datepicker'

export default {
  data () {
    return {
      model: new Date()
    }
  },
  watch: {
    model () {
      /** emits an event to the parent(ServiceProvider/index.vue) component */
      this.$emit('dateValue', { model: this.model, input: this.input })
    }
  },
  components: {
    datepicker
  },
  props: ['input']
}
</script>

<style>
.date-picker-text {
  color: #580011;
}
</style>
