<template>
<transition name="fade" appear>
  <div class="positioning">
     <div class="col-md-7 col-sm-12 container">
      <p class="text-center">My expert profile</p>
      <div class="form-row align-items-center mt-3">
    <!-- input: expert-from -->
    <div class="form-group mr-1 col-lg col-md col-sm">
      <label for="expertFrom">I am an expert from</label>
      <select v-model="serviceProviders.schoolAttended" class="col mr-1 form-control col-sm-12" id="expertFrom">
        <option selected>Egerton University</option>
        <option>Moi University</option>
        <option>Eldoret University</option>
        <option>University of Nairobi</option>
        <option>other</option>
      </select>
    </div>
     <!-- input: with a -->
    <div class="form-group mr-1 col-lg col-md col-sm">
      <label for="with">with a</label>
      <select v-model="serviceProviders.certification" class="col mr-1 form-control" id="with">
        <option selected>Degree</option>
        <option>Diploma</option>
        <option>Certificate</option>
        <option>Other</option>
      </select>
    </div>
    <!-- input: i am an expert from -->
    <div class="form-group col-lg col-sm-12 col-md-12 ">
      <label for="expertFrom">in</label>
      <select v-model="serviceProviders.expertIn" class="col form-control" id="expertFrom">
        <option selected>Animal Health</option>
        <option>Animal Production</option>
        <option>Biogas</option>
        <option>Value Addition</option>
        <option>other</option>
      </select>
    </div>
  </div>
<!-- date duration -->
 <div class="form-row align-items-center mt-2">
   <div class="form-group col-md-3">
     <label for="from">from</label>
      <DatePicker
        @dateValue="updateDate"
        input='from'
      />
   </div>
   <div class="form-group col-md-3">
     <label for="to">to</label>
      <DatePicker
        @dateValue="updateDate"
        input='to'
      />
   </div>

   <div class="form-group col">
      <label for="in">I'm skilled in</label>
      <select v-model="serviceProviders.skill" class="col form-control" id="in">
        <option selected>Making Dairy Business Plans</option>
        <option>Feeding and home-made rations</option>
        <option>Building for Cows</option>
        <option>Calf Rearing</option>
        <option>Silage</option>
        <option>Cow House Design & Construction</option>
        <option>Other</option>
      </select>
   </div>
 </div>
<!-- input: course studied -->
  <div class="form-row mt-2">
    <div class="col-md col-sm-12 form-group">
      <label for="from">The Course I studied</label>
      <input
        type="text"
        v-model="$v.serviceProviders.courseStudied.$model"
        class="form-control"
        placeholder="Name of course studied"
      >
      <div v-if="$v.serviceProviders.courseStudied.$error" class="error-message">
         <p class="mt-1" v-if="!$v.serviceProviders.courseStudied.required">Course studied is required</p>
      </div>
      <p class="mt-1 error-message" v-else-if="errorMessage">{{ errorMessage }}</p>
    </div>
<!-- input: national ID -->
    <div class="col-md col-sm-12 form-group">
      <label for="from">National ID Number</label>
      <input
        v-model="$v.serviceProviders.nationalId.$model"
        type="text"
        class="form-control"
        placeholder="1234567"
      >
      <div v-if="$v.serviceProviders.nationalId.$error" class="error-message">
        <p class="mt-1" v-if="!$v.serviceProviders.nationalId.required">National id is required</p>
        <p class="mt-1" v-else-if="!$v.serviceProviders.nationalId.integer">Only alphabets and numbers are allowed</p>
      </div>
  </div>
  </div>
    <button
      class="mt-2 col-md-12"
      @click="submitUserDetails"
      :disabled="isDisabled"
    >
      Next, Signup &#x2192;
    </button>
    <div class="text-center mt-3">
      <router-link
        to="/">
        &#x2190; Back Home
      </router-link>
    </div>
  </div>
  </div>
</transition>
</template>

<script>
import DatePicker from './DatePicker'
import { openModal } from '@/utils/helperFunctions'
import {
  required,
  alphaNum
} from 'vuelidate/lib/validators'

export default {
  data () {
    return {
      serviceProviders: {
        schoolAttended: 'Egerton University',
        expertIn: 'Animal Production',
        courseStudied: '',
        nationalId: '',
        skill: 'Making Dairy Business Plans',
        certification: 'Degree',
        dateDuration: {
          from: new Date(),
          to: new Date()
        }
      },
      errorMessage: '',
      isDisabled: true
    }
  },
  components: {
    DatePicker
  },
  watch: {
    // ** watch on the serviceProviders data object
    serviceProviders: {
      deep: true,
      handler () {
        this.validateInput()
      }
    }
  },
  methods: {
    // * * method submits the details user has inputed and also save this info in on the local storage */
    submitUserDetails () {
      if (this.$v.serviceProviders.$invalid) {
        return this.$v.serviceProviders.$touch()
      }
      const serviceProviderDetails = { ...this.serviceProviders }
      localStorage.setItem('serviceProviderDetails', JSON.stringify(serviceProviderDetails))
      openModal('signup')
    },
    // ** method validates courseStudy input for only alphabets and space */
    validateInput () {
      const alpha = /^[a-zA-Z-,]+(\s{0,1}[a-zA-Z-, ])*$/
      const courseStudy = this.serviceProviders.courseStudied.toString()

      if (courseStudy && !courseStudy.match(alpha)) {
        this.errorMessage = 'Only alphabets are allowed'
        this.isDisabled = true
      } else if (this.$v.serviceProviders.nationalId.$error ||
        this.$v.serviceProviders.courseStudied.$error) {
        this.isDisabled = true
      } else {
        this.errorMessage = ''
        this.isDisabled = false
      }
    },
    // ** method updates the dates inputs From and to */
    updateDate (data) {
      data.input === 'from'
        ? this.serviceProviders.dateDuration.from = data.model
        : this.serviceProviders.dateDuration.to = data.model
    }
  },
  // ** vuelidate validation */
  validations: {
    serviceProviders: {
      nationalId: {
        required,
        alphaNum
      },
      courseStudied: {
        required
      }
    }
  }
}
</script>

<style scoped>
.container {
  width: 100%;
  margin-top: 5%;
  color: #580011;
  margin-bottom: 7%;
}
input, select {
  border: 1px solid black;
  color: #580011;
}
button {
  background-color:#A3C34E;
  color: white;
  outline: none;
  border: none;
  padding:0.4rem 0;
  border-radius: 0.3rem;
}
button:disabled {
  background-color: #e1e1e1;
  cursor: not-allowed;
}
.error-message {
  color: red !important
}
a {
  color:#A3C34E
}
 /** Transition ** */
.fade-enter {
  opacity: 0;
}
.positioning {
  position: absolute;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  padding: 2% 5px;
  margin-top: 80px;
}
.fade-enter-active, .fade-leave-active {
  transition: all 1.4s ease-in;
}
.fade-leave-to {
  opacity: 0;
}
</style>
