<template>
  <ProfileSideBarLayout>
    <div class="main-content">
      <PublicationNavHeader />
      <div class="content-holder">
        <PublicationsList
          :data="pageData || []"
          :downloadPublication="downloadPublication"
          :goToPreviousPage="goToPreviousPage"
          :goToNextPage="goToNextPage"
          :nextPage="nextPage"
          :previousPage="previousPage"
          :isDownloading="getRequestStatuses.isDownloading"
          :isFetching="getRequestStatuses.isFetching"
        />
      </div>
    </div>
  </ProfileSideBarLayout>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import PublicationsList from './PublicationsList.vue'
import PublicationNavHeader from './PublicationNavHeader.vue'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout'

export default {
  name: 'FeaturedPublications',
  components: {
    PublicationsList,
    ProfileSideBarLayout,
    PublicationNavHeader
  },
  metaInfo () {
    return {
      title: 'Dairynomics - Featured Publications',
      meta: [
        { name: 'description', content: 'Dairynomics Featured Publications Listing' },
        { property: 'og:title', content: 'Dairynomics Featured Publications Listing' },
        { property: 'og:type', content: 'website' },
        { property: 'og:url', content: 'https://www.cowsoko.com/publications' },
        { property: 'og:description', content: 'Dairynomics Featured Publications Listing' }
      ]
    }
  },
  methods: {
    ...mapActions([
      'fetchPublications',
      'downloadPublication',
      'incrementPage',
      'decrementPage'
    ]),
    goToNextPage () {
      this.$router.push(`/publications?page=${this.nextPage}`)
      this.incrementPage({ dataScope: 'featuredPublications' })
    },
    goToPreviousPage () {
      this.$router.push(`/publications?page=${this.previousPage}`)
      this.decrementPage({ dataScope: 'featuredPublications' })
    }
  },
  computed: {
    ...mapGetters([
      'getPaginatedFeaturedPublications',
      'getFeaturedPublicationsPagination',
      'getRequestStatuses'
    ]),
    nextPage () {
      const { currentPage, lastPage } = this.getFeaturedPublicationsPagination
      const nextPage = currentPage < lastPage ? currentPage + 1 : 0
      return nextPage
    },
    previousPage () {
      const { currentPage } = this.getFeaturedPublicationsPagination
      const previousPage = currentPage > 1 ? currentPage - 1 : 0
      return previousPage
    },
    pageData () {
      const pageNumber = this.$route.query.page || 1
      return this.getPaginatedFeaturedPublications[`page-${pageNumber}`]
    }
  },
  watch: {
    '$route' (to, from) {
      const pageNumber = this.$route.query.page
      this.fetchPublications({ pageNumber, dataScope: 'featuredPublications' })
    }
  },
  mounted () {
    const pageNumber = this.$route.query.page || 1
    this.fetchPublications({ pageNumber, dataScope: 'featuredPublications' })
  }
}
</script>

<style scoped lang="scss">

header {
  .page-title {
    font-size: 25px;
  }
}

// tablet portrait
@media only screen and (min-width: 40em) {
  header {
    margin-bottom: 40px;
  }
  .main-content {
    padding-top: 20px;
  }
}

</style>
