<template>
<ProfileSideBarLayout>
  <div
  v-if='!getExpertProfileInformation'
  >
  <Spinner/>
  </div>
  <div v-if="getExpertProfileInformation" class="profile-wrapper">

    <div class="main-content">
        <UserProfileSwitcher
        @changeProfileSection="changeProfileSection"
        v-bind:contactExpertURL="contactExpertURL"
      />
      <ExpertUserProfile
        v-if="activeStatusLink === 'isMyExpertProfileLinkActive'"
        v-bind:contactExpertURL="contactExpertURL"
        />

    </div>
  </div>
</ProfileSideBarLayout>
</template>
<script>
import ExpertUserProfile from './ExpertUserProfile.vue'
import UserProfileSwitcher from './Switcher.vue'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout.vue'
import Spinner from '@/components/ui/Spinner'
import { mapGetters } from 'vuex'
export default {
  name: 'ExpertProfileIndex',
  components: {
    ExpertUserProfile,
    UserProfileSwitcher,
    ProfileSideBarLayout,
    Spinner
  },
  data () {
    return {
      activeStatusLink: 'isMyExpertProfileLinkActive'
    }
  },
  computed: {
    ...mapGetters(['getExpertProfileInformation', 'allUsers'])
  },
  methods: {
    contactExpertURL () {
      const { getExpertProfile } = this.getExpertProfileInformation
      localStorage.setItem('expertDetails', JSON.stringify(getExpertProfile))
      this.$router.push(`/message/${getExpertProfile.id}`)
    },
    changeProfileSection (activeLinkStatus) {
      this.activeStatusLink = activeLinkStatus
    }
  }
}
</script>
<style  scoped>

@media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {

  .main-content {
    width: 100%;
    min-height: 125vh;
  }
}
@media only screen and (max-width: 600px) {
  .profile-wrapper {
    flex-direction: column;
  }
  .main-content {
    width: 100%;
    min-height: 80vh;
  }
}
</style>
