<template>
  <EcommerceSideBarLayout>
    <h2 class="pt-4 pb-4 pl-3">{{ title }}</h2>
    <Spinner v-if="isLoading && GETINVOICES.length === 0"/>
    <div class="pl-3" v-if="GETINVOICES.length === 0 && !isLoading">
      <p>you don't have any invoices yet</p>
    </div>
    <div v-else>
      <PaymentInvoiceDetails/>
      <InvoiceCard
        v-for="invoice in GETINVOICES.reverse()"
        :key="invoice.id"
        :invoiceNumber="invoice.invoiceNumber"
        :createdAt="invoice.createdAt"
        :amountRecieved="invoice.amountToBePaid"
        :orderItems="invoice.order.orderItems"
        :id="invoice.id"

      />
    </div>
  </EcommerceSideBarLayout>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'
import EcommerceSideBarLayout from '@/components/layout/EcommerceSideBarLayout.vue'
import Spinner from '@/components/ui/Spinner'
import InvoiceCard from './InvoiceCard'
import PaymentInvoiceDetails from '@/components/ui/paymentDetails/PaymentInvoiceDetails.vue'

export default {
  name: 'Invoices',
  components: {
    EcommerceSideBarLayout,
    Spinner,
    InvoiceCard,
    PaymentInvoiceDetails
  },
  metaInfo () {
    return {
      title: 'Dairynomics - invoices',
      meta: [
        {
          name: 'description',
          content: 'Dairynomics invoices'
        },
        {
          property: 'og:title',
          content: 'Dairynomics invoices'
        },
        { property: 'og:type', content: 'website' },
        { property: 'og:url', content: 'https://www.cowsoko.com/invoices' }
      ]
    }
  },
  data () {
    return {
      title: 'My Invoices'
    }
  },
  computed: {
    ...mapState({
      isLoading: state => state.AllInvoicesModule.loading
    }),
    ...mapGetters(['GETINVOICES'])
  },
  methods: {
    ...mapActions(['getAllInvoices'])
  },
  created () {
    this.getAllInvoices()
  }
}
</script>
