<template>
<div>
  <p class="composition">Tell us about your herd composition ..</p>
  <h5>Of the <span class="count-style">{{numberOfCows}}</span>, how many are</h5>
  <div class="inputs">
    <span>
      <IntegerInput
        @enter="handleSubmit"
        v-model="numberOfMilked"
        :autofocus="true"
      />
      <p class="label">Being Milked</p>
    </span>
    <span>
      <IntegerInput
        @enter="handleSubmit"
        v-model="numberOfDrys"
      />
      <p class="label">Drys</p>
    </span>
    <span>
      <IntegerInput
        @enter="handleSubmit"
        v-model="numberOfHeifers"
      />
      <p class="label">Heifers</p>
    </span>
    <span>
      <IntegerInput
        @enter="handleSubmit"
        v-model="numberOfCalves"
      />
      <p class="label">Calves</p>
    </span>
  </div>
  <div class="error-message">
    <p>{{validator.message}}</p>
  </div>
  <AppButton
    :disabled="isDisabled"
    @click="handleSubmit"
  >
    See Your Results!
  </AppButton>
  <div>
    <a href="#" @click.prevent="$emit('changeStage')">&#x2190; Back</a>
  </div>
</div>
</template>

<script>
import AppButton from '@/components/ui/AppButton'
import IntegerInput from '@/components/ui/IntegerInput'
import validatorHelper from '@/utils/validators/herdsCompositionValidator'

const stateKeys = [
  'numberOfDrys',
  'numberOfMilked',
  'numberOfHeifers',
  'numberOfCalves'
]

export default {
  name: 'HerdsComposition',

  data () {
    return {
      ...(() => {
        return stateKeys.reduce((result, key) => {
          result[key] = 0
          return result
        }, {})
      })(),

      validator: {
        isError: false,
        message: ''
      }
    }
  },

  computed: {
    isDisabled () {
      return this.validator.isError || stateKeys.reduce((total, value) => total + this[value], 0) === 0
    }
  },

  methods: {
    handleSubmit () {
      !this.isDisabled && this.$emit('submit', { numberOfMilked: this.numberOfMilked })
    }
  },

  watch: {
    ...(() => {
      return stateKeys.reduce((result, key) => {
        result[key] = function () {
          this.validator = validatorHelper(this.numberOfCows, stateKeys.map(v => this[v]))
        }
        return result
      }, {})
    })()
  },

  props: {
    numberOfCows: {
      type: Number,
      required: true
    }
  },

  components: {
    AppButton,
    IntegerInput
  }
}
</script>

<style scoped>
  * {
    color:#580010;
    box-sizing: border-box;
    line-height: 1.6;
  }

  .composition {
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
  }

  .inputs {
    display: flex;
    justify-content: center;
    margin: 2rem 0 1rem;
  }

  .inputs span {
    display: inline-block;
    flex-basis: 7rem;
    border-right: 0.03rem solid #eee;
  }

  .inputs :last-child {
    border: none;
  }

  h5 {
    min-width: 16rem;
    width: 80%;
    max-width: 28rem;
    margin: auto;
  }

  a {
    display: inline-block;
    color: #88af00;
    font-size: 0.87rem;
    margin-top: 1rem;
  }

  a:hover {
    color: #88af00;
  }

  .error-message {
    font-size: 0.75rem;
    height: 2.2rem;
  }

  .error-message * {
    color: #ff0000;
    margin: 0;
  }

  .label {
    font-size: 0.6rem;
    margin: 0;
  }

  .count-style {
    color: #88af00;
  }

  @media only screen and (max-width: 400px) {
    h5 {
      font-size: 1.05rem;
    }
  }
</style>
