<template>
  <div class="input-section">
    <div class="input-section-header">
      <div>{{InputHeader}}</div>
      <div class="open-cursor">
        <span v-if="toggleSign" @click="showInputs"><i class="fas fa-plus"></i></span>
        <span v-if="showSection" @click="closeInputs"><i class="fas fa-minus"></i></span>
      </div>
    </div>
    <div v-for="option in InputOptions" :key="option">
      <div v-show="showSection" class="input-section-box">
        <input type="checkbox" :id="option" :value="option" v-model="values">
        <label class="input-section-label" :for="option">{{option}}</label>
      </div>
    </div>
  </div>
</template>

<script>
// import {mapState} from 'vuex'
export default {
  name: 'InputType',
  props: ['InputHeader', 'InputOptions'],
  data () {
    return {
      values: [...this.$attrs.value],
      showSection: false,
      toggleSign: true
    }
  },
  methods: {
    showInputs () {
      this.showSection = true
      this.toggleSign = false
    },
    closeInputs () {
      this.showSection = false
      this.toggleSign = true
    }
  },
  watch: {
    values () {
      this.$emit('input', this.values)
    }
  }
}
</script>

<style>
.input-section{
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
}

.input-section-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
}

.input-section-box{
  padding-top: 7px;
  padding-left: 15px;
}

.input-section-label{
  padding-left: 7px;
}

.open-cursor{
  display: inline;
  margin-right: 15px;
  cursor: pointer;
}

</style>
