<template>
  <div class="product-section">
    <div>
      <h5 class="product-title">My Products</h5>
    </div>
    <div v-if="loading">
      <Spinner />
    </div>
    <div class="message" v-else-if="message">
        You have not added any products yet
    </div>
    <div class="message" v-else-if="error">
        The requested resource could not be found
    </div>
    <div v-else class="products">
      <div v-for="product in products" :key="product.id">
        <ProductCard
          :productName="product.name"
          :description="product.description"
          :price="product.price"
          :images="product.photo"
          :id="product.id"
          :county="product.county"
          :category="product.product_type"
        />
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapState} from 'vuex'

export default {
  name: 'ProductSection',
  components: {
    ProductCard: () => import('@/components/ui/ProductCard.vue'),
    Spinner: () => import('@/components/ui/Spinner')
  },
  methods: {
    ...mapActions([
      'fetchMyProducts'
    ])
  },
  mounted () {
    this.fetchMyProducts()
  },
  computed: {
    ...mapState({
      loading: state => state.uploadProductStore.loading,
      products: state => state.uploadProductStore.products,
      message: state => state.uploadProductStore.message,
      error: state => state.uploadProductStore.error
    })
  }
}
</script>

<style lang="scss" scoped>
.products {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 1.5em;
  grid-row-gap: 2em;
  margin-bottom: 2em;
}

/deep/ div.card {
  height: 430px;
}

/deep/ .card-name {
  overflow: hidden;
  width: 85%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/deep/ .price {
  margin-bottom: 1rem;
}

/deep/ .description {
  height: 50px;
}

/deep/ .card-details {
  margin-top: -30px;
}

/deep/ .card-details .category{
  position: absolute;
  right: 0.5rem;
  font-size: 12px;
  white-space: nowrap;
  // bottom: 3rem;
  width: 112px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/deep/ .edit {
  position: absolute;
  right: 0rem;
  font-size: 12px;
  white-space: nowrap;
  // bottom: 3rem;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 12px;
}

/deep/ .card-details .county{
  position: absolute;
  right: 0.5rem;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  bottom: 4.3rem;
  margin-right: 3px;
}

// /deep/ .county{
//   display: none;
// }

/deep/ .card-details .category {
  bottom: 2.8rem;
}

/deep/ .view-more {
  background: #90b42e;
  color: #ffffff;
  padding: 5px 20px;
  text-decoration: none;
}

.product-section{
  width: 100%;
}

.product-title{
  opacity: 0.4;
}

.message {
  font-size: 24px;
}

@media only screen and (max-width: 1040px) {
  .products {
    grid-template-columns: 40%  40%;
  }
}
@media only screen and (max-width: 800px) {
  .product-section{
    width: 100%;
  }
  .products {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 1.5em;
    grid-row-gap: 2em;
    margin-bottom: 2em;
  }
}
@media only screen and (max-width: 600px) {
  .products {
    grid-template-columns: 100%;
  }
}

</style>
