<template>
<div v-if="productImages.length">
   <div class="individual-livestock justify-content-center">
      <div class="individual-livestock-details justify-content-center" >
        <ImageCarousel
          :productImages="productImages"
        />
        <div class="details">
          <IndividualProductsDetails
          />
        </div>
    </div>
    <div>
    <ContactButton
     :buttonDetails="buttonDetails"
    />
    <p class="text-center mt-2">
      <router-link class="similar-livestock"  :to="`/products`">Similar Products &#x2192;</router-link>
    </p>
    <!-- <p class="text-center mt-2 similar-livestock">Similar Products &#x2192;</p> -->
    </div>
  </div>
</div>
</template>

<script>
import ImageCarousel from '@/components/ui/ImageCarousel'
import ContactButton from '@/components/ui/ContactButton'
import IndividualProductsDetails from './IndividualProductsDetails.vue'
import {mapGetters} from 'vuex'

export default {
  data () {
    return {
      productImages: [],
      buttonDetails: '<i class="fas fa-envelope"></i> <span icon="envelope">Contact expert</span>'
    }
  },
  computed: {
    ...mapGetters(['getIndividualProduct']),
    getProductImages () {
      return this.getIndividualProduct.photos
    }
  },
  components: {
    ImageCarousel,
    ContactButton,
    IndividualProductsDetails
  },
  watch: {
    'getProductImages' (currentPhotos) {
      this.productImages = currentPhotos
    }
  }
}
</script>
<style scoped>
ul {
  color: rgb(81, 0, 18)
}
.details {
  margin-top: 2%;
}
.individual-livestock {
  width: 100%;
  display: inline-block;
}
.individual-livestock-details {
  grid-gap:5%;
  width: 100%;
  height: 100%;
  display: grid;
  padding: 2%;
  grid-template-columns: 45% 45%;
  box-shadow: 0 0 20px rgb(234, 239, 208);
  align-items: center;
}
.image-slider {
  width: 90%;
  height: 300px;
  margin: 0 auto;
}
.label {
  margin-bottom: 0;
  display: inline-block;
  padding: 0
}
.similar-livestock {
  color: #88af00;
  font-size: 20px;
}
@media (max-width: 950px) {
.individual-livestock {
  width: 98%;
  display: inline-block;
  padding: 1%;
  height: 800px;
  margin: 0 auto;
}
.image-slider {
  margin-top:1%;
  height: 280px;
}
.individual-livestock-details {
  width: 100%;
  display: grid;
  padding: 5% 3%;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
  margin: 0 auto;
  grid-gap: 4%
}
}
@media (max-width: 450px) {
  .individual-livestock {
    height: 610px;
  }
  .image-slider {
    height: 210px;
    margin-top:1%
  }
  .individual-livestock-details {
    width: 100%;
    height: 100%;
    padding: 5% 3%;
    grid-template-rows: 40% 55%;
    grid-gap: 4%;
    margin: 0 auto;
  }
}
@media (max-width: 380px) {
  .individual-livestock {
    display: inline-block;
    height: 600px;
    padding: 1%;
  }
  .image-slider {
    height: 210px;
    margin-top: 0%
  }
  .individual-livestock-details {
    padding: 1% 3%;
    grid-gap: 1%;
    margin: 0 auto;
  }
}

</style>
