<template>
  <div class="comment-section">
    <div class="bottom-nav" v-if="(meta.current_page < meta.last_page && (comments.length > 0 ))">
      <button @click="toNext" class="btn btn-lg btn-next">View previous comments</button>
    </div>
    <SingleComment
      v-for="(comment, index) in comments"
      :key="index"
      :comment="comment"
      :userId="userId"
      class="comment-card"
      v-on:onReply="submitComment"
    >
      <SingleComment
        v-for="(reply, rIndex) in comment.replies"
        :key="rIndex"
        :comment="reply"
        :userId="userId"
        isReply
        v-on:onReply="submitComment"
      />
    </SingleComment>
    <CommentInput v-on:submitComment="submitComment"/>
  </div>
</template>

<script>
import SingleComment from './SingleComment'
import CommentInput from './CommentInput'

export default {
  components: {
    SingleComment,
    CommentInput
  },
  props: {
    comments: {
      type: Array,
      default: () => []
    },
    meta: {
      type: Object,
      default: () => ({
        current_page: 1,
        from: 1,
        last_page: 1,
        path: '',
        per_page: 10,
        to: 1,
        total: 1
      })
    },
    userId: {
      type: String,
      default: ''
    },
    loadingMore: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      commentId: '',
      commentBody: ''
    }
  },
  methods: {
    onReply (commentId) {
      this.commentId = commentId
    },
    submitComment (commentId, body) {
      if (commentId) {
        this.$emit(
          'submitReply',
          commentId,
          body || this.commentBody
        )
      } else {
        this.$emit('submitComment', 'event', body || this.commentBody)
      }
    },
    editComment (commentId, body, isReply) {
      this.$emit('editComment', commentId, body, isReply)
    },
    deleteComment (comment, reply) {
      this.$emit('deleteComment', comment, reply)
    },
    likeComment (comment, isReply) {
      this.$emit('likeComment', comment, isReply)
    },
    toNext () {
      this.$emit('loadPage', this.meta.current_page + 1)
    }
  }
}
</script>

<style scoped>
.comment-section {
  background-color: #f4f7ea;
  padding: 0.5rem 1rem;
}
.bottom-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 0.1rem;
}
.btn-prev {
  color: black;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}
.btn-next {
  font-size: small;
  background: transparent;
  height: 38px;
  vertical-align: middle;
  padding-top: 9px;
  font-size: 0.9rem;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.6);
}
.btn-next:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
}
.btn-next:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
</style>
