<template>
  <div>
    <input
      type="file"
      name="myImage"
      accept="image/*"
      id="hidden-input-button"
      @change="loadImagesFromFile"
      ref="files"
      multiple
    />
    <label
      for="hidden-input-button"
      class="img-selector-label"
      :id="id"
    >
      Choose file
    </label>
  </div>
</template>

<script>
export default {
  name: 'ImageSelector',
  props: {
    id: {
      type: String
    }
  },
  methods: {
    loadImagesFromFile (e) {
      const files = this.$refs.files.files
      this.$emit('load', files)
    }
  }
}
</script>

<style>
#hidden-input-button {
  display: none;
}
.img-selector-label {
  cursor: pointer;
  border-radius: 0.3rem;
}
</style>
