<template>
  <multiselect
    v-bind="allBindings"
    v-on="$listeners"
    :value="defaultOption"
    :searchable="true"
    placeholder
  >
    <template slot="singleLabel" slot-scope="{ option }">
      <img class="option__image" :src="option.flag" alt="Country flag">
    </template>

    <template slot="option" slot-scope="{ option }">
      <img class="option__image" :src="option.flag" alt="Country flag">
      <span class="option__desc">
        <span class="option__title">{{ option.name }} {{option.code}}</span>
      </span>
    </template>
  </multiselect>
</template>

<script>
import Multiselect from 'vue-multiselect'
import MultiselectMixin from 'vue-multiselect/src/multiselectMixin'

export default {
  components: {
    Multiselect
  },
  props: {
    ...MultiselectMixin.props,
    defaultOption: {
      type: Object,
      default: () => ({
        flag: '/static/svg/flags/ke.svg',
        country_code: '+254'
      })
    }
  },
  computed: {
    allBindings () {
      // Need to proxify both props and attrs, for example for showLabels
      return { ...this.$props, ...this.$attrs }
    }
  }
}
</script>

<style lang="scss" scoped>
.multiselect /deep/ {
  .option__desc,
  .option__image {
    display: inline-block;
    vertical-align: middle;
  }
  .option__image {
    width: 30px;
    height: 20px;
  }
  .multiselect__content-wrapper {
    min-width: 380px;
    max-width: 70wh;
    min-height: 70vh;
    height: auto;
  }
  .multiselect__tags {
    min-height: 20px;
    padding: 9px 40px 8px 13px;
    border-color: #ced4da;
    border-width: 2px;
    .multiselect__input {
      color: #7b7979;
      height: 1vw;
      margin: 0;
      font-size: 13px;
    }
  }
  .multiselect__select {
    height: 30px;
    padding: 10px 8px 0 8px;
  }

  .multiselect__single {
    margin-bottom: 0;
  }
  .option__title {
    font-size: 12px;
  }
}
</style>
