<template>
  <div class="select-field-container">
    <select  :id="id" @change="handleChange">
      <option selected value="">{{defaultSelectText}}</option>
      <option v-for="option in options" :value="option.id" :key="option.id">{{option.topic}}</option>
    </select>
    <ErrorMessage
    :errorMessage="error"

    />
  </div>
</template>

<script>
import ErrorMessage from '@/components/ui/ErrorMessage'
export default {
  name: 'SelectField',
  props: {
    options: {
      type: Array,
      required: true
    },
    id: {
      type: String
    },
    defaultSelectText: {
      type: String
    },
    error: {
      type: String
    }
  },
  methods: {
    handleChange (e) {
      this.$emit('handleSelectFieldChange', e.target.value)
    }
  },
  components: {
    ErrorMessage
  }
}
</script>

<style scoped>
#hidden-input-button {
  display: none;
}
.img-selector-label {
  cursor: pointer;
  border-radius: 0.3rem;
}
.error-message {
  position: absolute
}
.select-field-container {
  position: relative
}
@media only screen and (max-width: 700px) {
  .error-message {
    position: relative
  }
}

</style>
