<template>
  <span>
    <span id="share">share</span>
    <a
      target="_blank"
      :href="`https://www.facebook.com/sharer/sharer.php?u=${itemUrl}&quote=${fbTwittertext}`"
    >
      <i class="fab fa-facebook ml-4 mr-2 facebook-icon"></i>
    </a>
    <a target="_blank" :href="`https://twitter.com/share?url=${itemUrl}&text=${fbTwittertext}`">
      <i class="fab fa-twitter mr-2 twitter-icon"></i>
    </a>
    <a target="_blank" :href="`whatsapp://send?text=${whatsappText}`">
      <i class="fab fa-whatsapp whatsapp-icon ml-auto"></i>
    </a>
  </span>
</template>

<script>
export default {
  name: 'SocialShare',
  props: {
    itemUrl: String,
    fbTwittertext: String,
    whatsappText: String,
    iconClass: String
  }
}
</script>

<style scoped>
.twitter-icon {
  color: #00bfff;
  cursor: pointer;
}
.facebook-icon {
  color: #0431b4;
  cursor: pointer;
}
.whatsapp-icon {
  color: #94b93a;
}
</style>
