<template>
  <div>
    <textarea
    :class="className"
    :id="id"
    :placeholder="placeholder"
    @input="onInput"
    :value="value"
    ></textarea>
    <ErrorMessage
    :errorMessage="error"
    :isHidden="isHidden"
    />
  </div>
</template>

<script>
import ErrorMessage from '@/components/ui/ErrorMessage'
export default {
  name: 'TextArea',
  props: {
    placeholder: {
      type: String
    },
    id: {
      type: String
    },
    className: {
      type: String
    },
    value: {
      type: String
    },
    error: {
      type: String
    },
    isHidden: {
      type: Boolean
    }
  },
  methods: {
    onInput (e) {
      this.$emit('input', e.target.value)
    }
  },
  components: {
    ErrorMessage
  }
}
</script>

<style>
</style>
