<template>
  <div class="main-profile">
    <div class="profile-picture">
      <img :src="profile_pic">
    </div>
    <div class="main-user-info text-center">
      <h4 class="mt-4">{{userNames}}</h4>
      <h6 class="user-type">{{userType}}</h6>
      <span class="county">{{county}}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserProfileInfo',
  props: ['userNames', 'county', 'userType', 'profile_pic']
}
</script>

<style scoped>
.main-profile {
  margin-top: 50px;
}
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  margin: 0 auto;
}
.profile-picture img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}
.main-user-info span {
  font-size: 12px;
}
.county {
  text-transform: uppercase;
}
.user-type {
  text-transform: capitalize;
}
@media only screen and (max-width: 500px) {
  .main-profile {
    margin-top: 0;
    display: flex;
  }
  .profile-picture {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .profile-picture img {
    width: 100px;
    height: 100px;
  }
  .main-user-info h4 {
    font-size: 18px;
    padding-right: 10px;
  }
  .main-user-info h6 {
    font-size: 12px;
  }
  .main-user-info span {
    font-size: 8px;
  }
}
</style>
